@font-face {
    font-family: Lexend;
    src: url('/fonts/Lexend-Regular.ttf');
}

html {
    font-family: Lexend;
}

.back-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
	z-index: 5;
}

.placeholder {
	background-image: url("./feature-default.jpg");
	background-size: cover;
	background-position: top right;
	background-attachment: fixed;
}